In [6]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import f1_score, accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.inspection import permutation_importance
from imblearn.over_sampling import SMOTE
import mplfinance as mpf
import matplotlib.dates as mdates
import matplotlib.ticker as mticker
from mplfinance.original_flavor import candlestick_ohlc
from statsmodels.tsa.arima_model import ARIMA
from sklearn.metrics import mean_squared_error
import seaborn as sns
from finta import TA
import backtrader as bt
from backtesting import Backtest, Strategy
from backtesting.lib import crossover, SignalStrategy, TrailingStrategy

In [2]:
# pip install openpyxl

In [3]:
## loading file

df = pd.read_csv(r"C:\Users\masho\OneDrive\Documents\Fall 24 SEM\Capstone\data\New folder\Latest data\ETH_training_data_2023-01-01_to_2023-10-31.csv")

In [7]:
import talib
import pandas as pd
# Calculating SMAs using TA-Lib
df['SMA_2'] = talib.SMA(df['close'], timeperiod=2)    # 2-period SMA
df['SMA_5'] = talib.SMA(df['close'], timeperiod=5)    # 5-period SMA
df['SMA_10'] = talib.SMA(df['close'], timeperiod=10)  # 10-period SMA
df['SMA_15'] = talib.SMA(df['close'], timeperiod=15)  # 15-period SMA
df['SMA_20'] = talib.SMA(df['close'], timeperiod=20)  # 20-period SMA
df['SMA_50'] = talib.SMA(df['close'], timeperiod=50)  # 50-period SMA

# Calculating SMAs using TA-Lib
df['EMA_2'] = talib.EMA(df['close'], timeperiod=2)    # 2-period EMA
df['EMA_5'] = talib.EMA(df['close'], timeperiod=5)    # 5-period EMA
df['EMA_10'] = talib.EMA(df['close'], timeperiod=10)  # 10-period EMA
df['EMA_15'] = talib.EMA(df['close'], timeperiod=15)  # 15-period EMA
df['EMA_20'] = talib.EMA(df['close'], timeperiod=20)  # 20-period EMA
df['EMA_50'] = talib.EMA(df['close'], timeperiod=50)  # 50-period EMA

# Displaying the DataFrame with the moving averages
df.head()

,unix,date,symbol,open,high,low,close,volume,volume_from,marketorder_volume,...,SMA_10,SMA_15,SMA_20,SMA_50,EMA_2,EMA_5,EMA_10,EMA_15,EMA_20,EMA_50
0,1.672530e+12,1/1/2023 0:00,ETHUSDT,1196.13,1196.14,1195.92,1196.13,65.5003,78336.93383,20.5552,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.672530e+12,1/1/2023 0:01,ETHUSDT,1196.13,1196.25,1196.08,1196.09,61.1703,73172.25450,6.0606,...,NaN,NaN,NaN,NaN,1196.110000,NaN,NaN,NaN,NaN,NaN
2,1.672530e+12,1/1/2023 0:02,ETHUSDT,1196.09,1196.10,1195.85,1195.85,32.9332,39389.83924,8.7272,...,NaN,NaN,NaN,NaN,1195.936667,NaN,NaN,NaN,NaN,NaN
3,1.672530e+12,1/1/2023 0:03,ETHUSDT,1195.85,1195.86,1195.82,1195.82,56.8456,67978.44233,5.7935,...,NaN,NaN,NaN,NaN,1195.858889,NaN,NaN,NaN,NaN,NaN
4,1.672530e+12,1/1/2023 0:04,ETHUSDT,1195.82,1196.32,1195.65,1196.32,118.1098,141237.84530,82.1776,...,NaN,NaN,NaN,NaN,1196.166296,1196.042,NaN,NaN,NaN,NaN

In [8]:
df.tail()

,unix,date,symbol,open,high,low,close,volume,volume_from,marketorder_volume,...,SMA_10,SMA_15,SMA_20,SMA_50,EMA_2,EMA_5,EMA_10,EMA_15,EMA_20,EMA_50
226076,1.698360e+12,10/26/2023 23:56,ETHUSDT,1803.70,1804.01,1803.16,1803.17,53.5795,96648.06357,15.3346,...,1803.124,1802.930000,1803.0565,1805.4528,1803.173493,1803.109860,1803.122254,1803.244583,1803.452089,1804.461455
226077,1.698360e+12,10/26/2023 23:57,ETHUSDT,1803.16,1803.81,1803.16,1803.80,33.6429,60669.49674,14.7955,...,1803.275,1803.018000,1803.0830,1805.4462,1803.591164,1803.339907,1803.245481,1803.314011,1803.485223,1804.435515
226078,1.698360e+12,10/26/2023 23:58,ETHUSDT,1803.81,1803.81,1803.11,1803.11,13.6443,24610.02308,5.1629,...,1803.305,1803.096667,1803.0615,1805.4084,1803.270388,1803.263271,1803.220848,1803.288509,1803.449488,1804.383534
226079,1.698360e+12,10/26/2023 23:59,ETHUSDT,1803.12,1803.80,1803.11,1803.38,74.3490,134091.07440,16.9576,...,1803.284,1803.139333,1803.0190,1805.3622,1803.343463,1803.302181,1803.249785,1803.299946,1803.442870,1804.344180
226080,1.698710e+12,10/31/2023 0:00,ETHUSDT,1809.03,1809.34,1808.97,1808.97,120.8055,218556.28210,44.4442,...,1803.830,1803.546667,1803.2920,1805.4234,1807.094488,1805.191454,1804.289824,1804.008702,1803.969263,1804.525585

In [9]:
df['date'] = pd.to_datetime(df['date'])

# Set 'datetime' as the index
df.set_index('date', inplace=True)
df.head()

,unix,symbol,open,high,low,close,volume,volume_from,marketorder_volume,marketorder_volume_from,...,SMA_10,SMA_15,SMA_20,SMA_50,EMA_2,EMA_5,EMA_10,EMA_15,EMA_20,EMA_50
date,,,,,,,,,,,,,,,,,,,,,
2023-01-01 00:00:00,1.672530e+12,ETHUSDT,1196.13,1196.14,1195.92,1196.13,65.5003,78336.93383,20.5552,24584.544570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-01 00:01:00,1.672530e+12,ETHUSDT,1196.13,1196.25,1196.08,1196.09,61.1703,73172.25450,6.0606,7249.354624,...,NaN,NaN,NaN,NaN,1196.110000,NaN,NaN,NaN,NaN,NaN
2023-01-01 00:02:00,1.672530e+12,ETHUSDT,1196.09,1196.10,1195.85,1195.85,32.9332,39389.83924,8.7272,10438.083140,...,NaN,NaN,NaN,NaN,1195.936667,NaN,NaN,NaN,NaN,NaN
2023-01-01 00:03:00,1.672530e+12,ETHUSDT,1195.85,1195.86,1195.82,1195.82,56.8456,67978.44233,5.7935,6928.150698,...,NaN,NaN,NaN,NaN,1195.858889,NaN,NaN,NaN,NaN,NaN
2023-01-01 00:04:00,1.672530e+12,ETHUSDT,1195.82,1196.32,1195.65,1196.32,118.1098,141237.84530,82.1776,98271.860290,...,NaN,NaN,NaN,NaN,1196.166296,1196.042,NaN,NaN,NaN,NaN

In [10]:
df.tail()

,unix,symbol,open,high,low,close,volume,volume_from,marketorder_volume,marketorder_volume_from,...,SMA_10,SMA_15,SMA_20,SMA_50,EMA_2,EMA_5,EMA_10,EMA_15,EMA_20,EMA_50
date,,,,,,,,,,,,,,,,,,,,,
2023-10-26 23:56:00,1.698360e+12,ETHUSDT,1803.70,1804.01,1803.16,1803.17,53.5795,96648.06357,15.3346,27661.02130,...,1803.124,1802.930000,1803.0565,1805.4528,1803.173493,1803.109860,1803.122254,1803.244583,1803.452089,1804.461455
2023-10-26 23:57:00,1.698360e+12,ETHUSDT,1803.16,1803.81,1803.16,1803.80,33.6429,60669.49674,14.7955,26680.26556,...,1803.275,1803.018000,1803.0830,1805.4462,1803.591164,1803.339907,1803.245481,1803.314011,1803.485223,1804.435515
2023-10-26 23:58:00,1.698360e+12,ETHUSDT,1803.81,1803.81,1803.11,1803.11,13.6443,24610.02308,5.1629,9312.53762,...,1803.305,1803.096667,1803.0615,1805.4084,1803.270388,1803.263271,1803.220848,1803.288509,1803.449488,1804.383534
2023-10-26 23:59:00,1.698360e+12,ETHUSDT,1803.12,1803.80,1803.11,1803.38,74.3490,134091.07440,16.9576,30579.46440,...,1803.284,1803.139333,1803.0190,1805.3622,1803.343463,1803.302181,1803.249785,1803.299946,1803.442870,1804.344180
2023-10-31 00:00:00,1.698710e+12,ETHUSDT,1809.03,1809.34,1808.97,1808.97,120.8055,218556.28210,44.4442,80403.60643,...,1803.830,1803.546667,1803.2920,1805.4234,1807.094488,1805.191454,1804.289824,1804.008702,1803.969263,1804.525585

In [11]:
# Creating RSI for different time periods

# Calculating RSI for scalping (7-period)
df['RSI_7'] = talib.RSI(df['close'], timeperiod=7)

# Calculating RSI for day trading (14-period)
df['RSI_14'] = talib.RSI(df['close'], timeperiod=14)

# Calculating RSI for swing trading (21-period)
df['RSI_21'] = talib.RSI(df['close'], timeperiod=21)

# Displaying the DataFrame with the new RSI columns
df[['close', 'RSI_7', 'RSI_14', 'RSI_21']].head(n=10)

                       close      RSI_7  RSI_14  RSI_21
date
2023-01-01 00:00:00  1196.13        NaN     NaN     NaN
2023-01-01 00:01:00  1196.09        NaN     NaN     NaN
2023-01-01 00:02:00  1195.85        NaN     NaN     NaN
2023-01-01 00:03:00  1195.82        NaN     NaN     NaN
2023-01-01 00:04:00  1196.32        NaN     NaN     NaN
2023-01-01 00:05:00  1196.60        NaN     NaN     NaN
2023-01-01 00:06:00  1196.51        NaN     NaN     NaN
2023-01-01 00:07:00  1196.39  60.000000     NaN     NaN
2023-01-01 00:08:00  1195.61  35.294118     NaN     NaN
2023-01-01 00:09:00  1195.38  30.914896     NaN     NaN

In [12]:
# Calculating MACD with adjusted periods (e.g., 7, 21, 5)
df['MACD'], df['MACD_Signal'], df['MACD_Hist'] = talib.MACD(df['close'], fastperiod=7, slowperiod=21, signalperiod=5)

# Displaying the DataFrame with MACD, Signal Line, and Histogram columns
df[['close', 'MACD', 'MACD_Signal', 'MACD_Hist']].tail()

                       close      MACD  MACD_Signal  MACD_Hist
date
2023-10-26 23:56:00  1803.17 -0.391748    -0.495974   0.104226
2023-10-26 23:57:00  1803.80 -0.245768    -0.412572   0.166804
2023-10-26 23:58:00  1803.11 -0.250423    -0.358522   0.108099
2023-10-26 23:59:00  1803.38 -0.204951    -0.307332   0.102381
2023-10-31 00:00:00  1808.97  0.720029     0.035122   0.684907

In [13]:
# Bollinger Bands with 10 periods and 1.5 standard deviations
df['upper_band_10_1_5'], df['middle_band_10_1_5'], df['lower_band_10_1_5'] = talib.BBANDS(
    df['close'], timeperiod=10, nbdevup=1.5, nbdevdn=1.5, matype=1)

# Bollinger Bands with 10 periods and 2 standard deviations
df['upper_band_10_2'], df['middle_band_10_2'], df['lower_band_10_2'] = talib.BBANDS(
    df['close'], timeperiod=10, nbdevup=2, nbdevdn=2, matype=1)

# Bollinger Bands with 20 periods and 1.5 standard deviations
df['upper_band_20_1_5'], df['middle_band_20_1_5'], df['lower_band_20_1_5'] = talib.BBANDS(
    df['close'], timeperiod=20, nbdevup=1.5, nbdevdn=1.5, matype=1)

# Bollinger Bands with 20 periods and 2 standard deviations
df['upper_band_20_2'], df['middle_band_20_2'], df['lower_band_20_2'] = talib.BBANDS(
    df['close'], timeperiod=20, nbdevup=2, nbdevdn=2, matype=1)

In [14]:
# pip install xlsxwriter

In [15]:
# Renaming columns to fit the Backtesting.py requirements
df = df.rename(columns={
    'open': 'Open',
    'high': 'High',
    'low': 'Low',
    'close': 'Close',
    'volume': 'Volume'  
})

In [ ]:
import pandas as pd
from backtesting import Backtest, Strategy
from backtesting.lib import crossover

# Strategy classes remain unchanged (as defined in your code)
# 1. SMA(2,5)
class SMA25Strategy(Strategy):
    def init(self):
        self.sma2 = self.I(lambda x: x, self.data.SMA_2)
        self.sma5 = self.I(lambda x: x, self.data.SMA_5)

    def next(self):
        if crossover(self.sma2, self.sma5):
            if not self.position:
                self.buy()
        elif crossover(self.sma5, self.sma2):
            if self.position:
                self.position.close()

# 2. SMA(5,10)
class SMA510Strategy(Strategy):
    def init(self):
        self.sma5 = self.I(lambda x: x, self.data.SMA_5)
        self.sma10 = self.I(lambda x: x, self.data.SMA_10)

    def next(self):
        if crossover(self.sma5, self.sma10):
            if not self.position:
                self.buy()
        elif crossover(self.sma10, self.sma5):
            if self.position:
                self.position.close()

# 3. RSI(40-60)
class RSI40_60_Strategy(Strategy):
    def init(self):
        self.rsi = self.I(lambda x: x, self.data.RSI_14)

    def next(self):
        if self.rsi[-1] < 40:
            if not self.position:
                self.buy()
        elif self.rsi[-1] > 60:
            if self.position:
                self.position.close()

# 4. MACD (7,21,5)
class MACDStrategy(Strategy):
    def init(self):
        self.macd = self.I(lambda x: x, self.data.MACD)
        self.macd_signal = self.I(lambda x: x, self.data.MACD_Signal)

    def next(self):
        if crossover(self.macd, self.macd_signal):
            if not self.position:
                self.buy()
        elif crossover(self.macd_signal, self.macd):
            if self.position:
                self.position.close()

# 5. Bollinger Bands (20,2)
class BollingerBandsStrategy(Strategy):
    def init(self):
        self.upper_band = self.I(lambda x: x, self.data.upper_band_20_2)
        self.lower_band = self.I(lambda x: x, self.data.lower_band_20_2)

    def next(self):
        if self.data.Close[-1] < self.lower_band[-1]:
            if not self.position:
                self.buy()
        elif self.data.Close[-1] > self.upper_band[-1]:
            if self.position:
                self.position.close()

# 6. SMA-EMA(2,5)
class SMAEMA25Strategy(Strategy):
    def init(self):
        self.sma2 = self.I(lambda x: x, self.data.SMA_2)
        self.ema5 = self.I(lambda x: x, self.data.EMA_5)

    def next(self):
        if crossover(self.sma2, self.ema5):
            if not self.position:
                self.buy()
        elif crossover(self.ema5, self.sma2):
            if self.position:
                self.position.close()

# 7. RSI-MACD
class RSIMACDStrategy(Strategy):
    def init(self):
        self.rsi = self.I(lambda x: x, self.data.RSI_14)
        self.macd = self.I(lambda x: x, self.data.MACD)
        self.macd_signal = self.I(lambda x: x, self.data.MACD_Signal)

    def next(self):
        if self.rsi[-1] < 40 and crossover(self.macd, self.macd_signal):
            if not self.position:
                self.buy()
        elif self.rsi[-1] > 60 or crossover(self.macd_signal, self.macd):
            if self.position:
                self.position.close()

# 8. EMA-BB
class EMABBStrategy(Strategy):
    def init(self):
        self.ema20 = self.I(lambda x: x, self.data.EMA_20)
        self.upper_band = self.I(lambda x: x, self.data.upper_band_20_2)
        self.lower_band = self.I(lambda x: x, self.data.lower_band_20_2)

    def next(self):
        if self.ema20[-1] < self.lower_band[-1]:
            if not self.position:
                self.buy()
        elif self.ema20[-1] > self.upper_band[-1]:
            if self.position:
                self.position.close()

# Defining strategies dictionary
strategies = {
    'SMA_2_5': SMA25Strategy,
    'SMA_5_10': SMA510Strategy,
    'RSI_40_60': RSI40_60_Strategy,
    'MACD': MACDStrategy,
    'BB_20_2': BollingerBandsStrategy,
    'SMA_EMA_2_5': SMAEMA25Strategy,
    'RSI_MACD': RSIMACDStrategy,
    'EMA_BB': EMABBStrategy
}

# Fetching data for a specific time frame
def fetch_data_for_time_frame(df, start_date, time_frame):
    if 'min' in time_frame:
        minutes = int(time_frame.replace('min', ''))
        end_date = start_date + pd.Timedelta(minutes=minutes)
    elif 'hr' in time_frame:
        hours = int(time_frame.replace('hr', ''))
        end_date = start_date + pd.Timedelta(hours=hours)
    elif 'week' in time_frame:
        weeks = int(time_frame.replace('week', ''))
        end_date = start_date + pd.Timedelta(weeks=weeks)
    elif 'day' in time_frame or '24hr' in time_frame:
        end_date = start_date + pd.Timedelta(days=1)
    else:
        return None, None
    mask = (df.index >= start_date) & (df.index < end_date)
    return df.loc[mask], end_date


# Generalizing function for running and saving backtest
def run_and_save_backtest(strategy_class, df_backtest):
    bt = Backtest(df_backtest, strategy_class, cash=10000, commission=.002, exclusive_orders=True)
    output = bt.run()
    return output

# Functioning to calculate Sharpe Ratio, Annualized Volatility, Annualized Return, Market Return, and Max Drawdown
def calculate_metrics(results, periods_per_year):
    metrics = []  # To store results for each timeframe

    for start, end, output in results:
        # Extracting the equity curve
        equity_curve = output['_equity_curve']

        # Calculating returns
        equity_curve['Return'] = equity_curve['Equity'].pct_change()  # Percent change in equity
        returns = equity_curve['Return'].dropna()  # Drop NaN values

        # Calculating cumulative return
        starting_equity = equity_curve['Equity'].iloc[0]
        ending_equity = equity_curve['Equity'].iloc[-1]
        cumulative_return = (ending_equity - starting_equity) / starting_equity

        # Calculating total periods
        total_periods = len(equity_curve)

        # Calculating metrics
        mean_return = returns.mean()
        std_dev = returns.std()
        sharpe_ratio = mean_return / std_dev if std_dev != 0 else 0  # Avoid division by zero
        annualized_sharpe = sharpe_ratio * (periods_per_year ** 0.5)
        annualized_volatility = std_dev * (periods_per_year ** 0.5)
        annualized_return = (1 + cumulative_return) ** (periods_per_year / total_periods) - 1

        # Market return calculation (benchmark return)
        market_return = cumulative_return  # Assuming 'Equity' tracks the market index

        # Max drawdown calculation
        cumulative_max = equity_curve['Equity'].cummax()  # Cumulative maximum equity
        drawdown = (equity_curve['Equity'] - cumulative_max) / cumulative_max  # Drawdown calculation
        max_drawdown = drawdown.min()  # Maximum drawdown (most negative value)

        # Saving results
        metrics.append({
            'Start': start,
            'End': end,
            'Mean Return': mean_return,
            'Standard Deviation': std_dev,
            'Sharpe Ratio': sharpe_ratio,
            'Annualized Sharpe Ratio': annualized_sharpe,
            'Annualized Volatility': annualized_volatility,
            'Annualized Return': annualized_return,
            'Market Return': market_return,
            'Max Drawdown': max_drawdown,
            'Equity Final [$]': output['Equity Final [$]'],
            '# Trades': output['# Trades']
        })

    return pd.DataFrame(metrics)


# Defining periods per year based on the timeframe
time_frame_mapping = {
    '15min': 525600 / 15,
    '1hr': 8760,
    '4hr': 8760 / 4,
    '8hr': 8760 / 8,
    '24hr': 365,
    '1 week': 52
}


# Main execution
if __name__ == "__main__":
    time_frame = input("Enter the desired time frame (e.g., '15min', '1hr', '4hr', '8hr', '24hr', '1 week'): ").strip()

    if time_frame not in time_frame_mapping:
        print(f"Unsupported timeframe: {time_frame}")
        exit()

    periods_per_year = time_frame_mapping[time_frame]

    results = []
    start_date = df.index.min()
    while start_date < df.index.max():
        filtered_data, end_date = fetch_data_for_time_frame(df, start_date, time_frame)
        if filtered_data is None or filtered_data.empty:
            break
        df_backtest = filtered_data.loc[filtered_data['EMA_5'].first_valid_index():].copy()

        if df_backtest.empty:
            start_date = end_date
            continue

        max_close = df_backtest['Close'].max()
        target_max_price = 100
        scale_factor = max_close / target_max_price

        df_backtest['Open'] /= scale_factor
        df_backtest['High'] /= scale_factor
        df_backtest['Low'] /= scale_factor
        df_backtest['Close'] /= scale_factor

        for name, strategy in strategies.items():
            output = run_and_save_backtest(strategy, df_backtest)
            results.append((start_date, end_date, output, name))

        start_date = end_date

    # Processing and saving results for each strategy
    for strategy_name in strategies.keys():
        # Extract results for the strategy
        strategy_results = [(start, end, output) for start, end, output, name in results if name == strategy_name]

        # Filter results with more than 1 trade
        results_with_trades = [(start, end, output) for start, end, output in strategy_results if output['# Trades'] > 1]

        # Sort by Equity Final [$] in descending order
        sorted_results = sorted(results_with_trades, key=lambda x: x[2]['Equity Final [$]'], reverse=True)[:3]  # Top 3

        # Calculate metrics
        metrics = calculate_metrics(sorted_results, periods_per_year)

        # Save to CSV
        metrics.to_csv(f'{strategy_name}_metrics.csv', index=False)

        print(f"Saved top 3 trades with metrics for {strategy_name} to {strategy_name}_metrics.csv")

Enter the desired time frame (e.g., '15min', '1hr', '4hr', '8hr', '24hr', '1 week'):  1 week

C:\Users\masho\AppData\Local\Programs\Python\Python312\Lib\site-packages\backtesting\_stats.py:122: RuntimeWarning: divide by zero encountered in scalar divide
  s.loc['Sortino Ratio'] = np.clip((annualized_return - risk_free_rate) / (np.sqrt(np.mean(day_returns.clip(-np.inf, 0)**2)) * np.sqrt(annual_trading_days)), 0, np.inf)  # noqa: E501

In [ ]:
###########)))))))))))))))))##########################

In [ ]:
##########3MMMMMMMMMMMMMMM#

In [ ]:
########################################

In [1]:
######################################3